<!DOCTYPE html>
<html>
<head>
    <title>News AI Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="chatbox">
        <!-- Chat messages will be added here. -->
    </div>
    <input type="text" id="userinput">
    <button onclick="sendMessage()">Send</button>

    <script>
        function sendMessage() {
            var message = $('#userinput').val();
            $.post('/chat', {message: message}, function(data) {
                $('#chatbox').append('<p>You: ' + message + '</p>');
                $('#chatbox').append('<p>Bot: ' + data.response + '</p>');
            });
        }
    </script>
</body>
</html>
